html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}

div {
    display: block;
}

.topClass {
    width:100%;
    height:46px;
    background-color: #007fff;
}

.logClass img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    float: left;
}

.headClass {
    float: right;
}

.headClass img {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}

.logSpan {
    font-size: 25px;
    line-height: 40px;
    float: left;
    margin-left: 10px;
    font-weight: bolder;
    color: white; 
}

.topCutDiv {
    width: 1px;
    height: 60%;
    margin-left: 55px;
    margin-top: 8px;
    background-color: #ffffff;
    float: left;
}

.userSpan {
    font-size: 15px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
    color: white; 
}

.leftClass {
    width: 15%;
    height: calc(94% - 10px);
    background-color: white;
    float: left;
    margin-top: 9px;
}

.leftClass #accordion div,ul{
    padding: 0;
    margin: 0;
    height: auto;
}

.leftClass #accordion h3 {
    border:none;
}

.leftClass #accordion .ui-icon {
    background-image: url("images/ui-icons_444444_256x240.png");
}

.leftClass #accordion .ui-widget-content {
    border:none;
}

.leftClass #accordion .ui-accordion-header-active {
    background-color: #f6f6f6;
    color: #454545;
}

.leftClass #accordion ul li {
    display: block;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 3px;
    line-height: 35px;
}

.leftClass #accordion ul li:hover {
    background-color: #007fff;
    color: white;
}

.menuSelected {
    background-color: #007fff;
    color: white;
}

.leftClass #accordion ul li span {
    font-size: 100%;
    height: 100%;
    width: auto;
    line-height: 30px;
    margin-left: 10px;
}

.cutDiv {
    background-color: #eeeeee;
    float: left;
    width: 1px;
    height: calc(94% - 20px);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.mainClass {
    width: calc(85% - 21px);
    height: 94%;
    background-color: white;
    float: left;
}

.breadcrumbClass {
    width: 100%;
    height: 10%;
}

#menuLabel {
    color: #cccccc;
    float: left;
    margin-top: 2%;
}

.mainCutDiv {
    width: 80%;
    height: 1px;
    float: left;
    margin-top: 3%;
    margin-left: 20px;
    background-color: #eeeeee;
}

#modalDialog {
    overflow: hidden;
    padding: 0;
}

